#clickedName{color: Black;
             font-size: 30px;
             font-weight: bold;
            }
            
#clickedNameAddress{color: Black;
             font-size: 20px;
            }
#clickedNameGrade{color: Black;
             font-size: 20px;
            }
            
#clickedNameCritical{color: Black;
             font-size: 20px;
            }
#clickedNameRating{color: Black;
             font-size: 20px;
            }
            
#clickedNameReviewCount{color: Black;
             font-size: 20px;
            }     

#clickedNamePhone{color: Black;
             font-size: 20px;
            }         

#clickedNamePriceRange{color: Black;
             font-size: 20px;
            }                  

   